/vendor
/node_modules
Homestead.yaml
Homestead.json
.env

.idea
composer.lock
/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/nbproject
/psd
/zips
*.zip
*.rar
/.idea
*.psd
*.zip
*.rar
/storage
/tests/
/screenshots